{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G&V Amanecer Dorado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top" >
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">G&V Amanecer Dorado</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-warning" aria-current="page" href="{% url 'Muro' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'identity' %}">¿Quienes Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Hogares Geriatricos</a>
                    </li>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-white" href="{% url 'services' %}">Servicios Generales</a></li>
                            <li><a class="dropdown-item text-white" href="{% url 'otros' %}">Otros Servicios</a></li>
                        </ul>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'Contacto' %}">Contacto</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link text-white" href="{% url 'Login' %}">Ingreso</a>
                  </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- JavaScript para cambiar el color del navbar en scroll -->
    <script type="text/javascript">
        window.addEventListener("scroll", function() {
            var navbar = document.querySelector("nav");
            var dropdownMenu = document.querySelector(".dropdown-menu");
            var dropdownButton = document.querySelector(".dropdown-toggle");
    
            if (window.scrollY > 0) {
                navbar.classList.add("abajo");
                dropdownMenu.classList.add("abajo");
                dropdownButton.classList.add("abajo");
            } else {
                navbar.classList.remove("abajo");
                dropdownMenu.classList.remove("abajo");
                dropdownButton.classList.remove("abajo");
            }
        });
    </script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>   
    <br>
    <div style="width: 100%;">
        <h4 style="text-align: center;">Hablemos</h4>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="https://www.tiktok.com/@gvamanecerdorado2?_t=zs-8snvmndt5qm&_r=1" target="_blank" class="btn btn-dark m-1">
            <i class="fab fa-tiktok"></i> TikTok
        </a>
        <a href="https://linktr.ee/GVAmanecerDorado" target="_blank" class="btn btn-danger m-1">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="vyamanecerdorado@outlook.com" class="btn btn-secondary m-1">
            <i class="fas fa-envelope"></i> Gmail
        </a>
        <a href="https://web.facebook.com/people/GV-Amanecer-Dorado/61563373918061/?mibextid=ZbWKwL" target="_blank" class="btn btn-primary m-1">
            <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a href="https://wa.me/573227478740" target="_blank" class="btn btn-success m-1">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
    </div>
    <br>
    <div style="width: 100%;">
        <h4 style="text-align: center; color: #007bff;">Horarios de Atencion</h4>
    </div>
    <br>
    <div style="width: 100%;">
        <h4 style="text-align: center;">Lunes a Viernes: 8:00 AM - 8:00 PM

            Sábado y Domingo: 8:00 AM - 5:00 PM</h4>
    </div>
    <br>
    <div style="width: 100%;">
        <h4 style="text-align: center; color: darkgreen;">Teléfono: 322-747-8750</h4>
    </div>
      
</body>
<footer style="top: 90%;  width:100%; position: absolute; background-color:  #b4b9c2 ; padding: 20px 0; text-align: center; font-family: Arial, sans-serif; font-size: 14px; color: #333;">
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap; max-width: 1200px; margin: 0 auto;">
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Contáctanos</h4>
          <p style="margin: 5px 0;">Teléfono: +57 322 747 8750</p>
          <p style="margin: 5px 0;">Correo: gvyamanecerdorado@outlook.com</p>
      </div>
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Redes Sociales</h4>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Instagram</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Facebook</a>
      </div>
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Horario de Atención</h4>
          <p style="margin: 5px 0;">Lunes a Viernes: 8:00 AM - 8:00 PM</p>
          <p style="margin: 5px 0;">Sábado y Domingo: 8:00 AM - 5:00 PM</p>
      </div>
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Compañía</h4>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Nosotros</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Vincúlate a Nosotros</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Blog</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Términos y Condiciones</a>
      </div>
  </div>
</footer>

</html>
