{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G&V Amanecer Dorado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'home/favicon.ico' %}" type="image/x-icon">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top" >
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">G&V Amanecer Dorado</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-warning" aria-current="page" href="{% url 'Muro' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'identity' %}">¿Quienes Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Hogares Geriatricos</a>
                    </li>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-white" href="{% url 'services' %}">Servicios Generales</a></li>
                            <li><a class="dropdown-item text-white" href="{% url 'otros' %}">Otros Servicios</a></li>
                        </ul>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- JavaScript para cambiar el color del navbar en scroll -->
    <script type="text/javascript">
        window.addEventListener("scroll", function() {
            var navbar = document.querySelector("nav");
            var dropdownMenu = document.querySelector(".dropdown-menu");
            var dropdownButton = document.querySelector(".dropdown-toggle");
    
            if (window.scrollY > 0) {
                navbar.classList.add("abajo");
                dropdownMenu.classList.add("abajo");
                dropdownButton.classList.add("abajo");
            } else {
                navbar.classList.remove("abajo");
                dropdownMenu.classList.remove("abajo");
                dropdownButton.classList.remove("abajo");
            }
        });
    </script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>   
    <style>
        #navbar-with-items {
            float: left;
            top: 0;
            height: 100vh;
            overflow-y: auto;
            width: 250px;
            background-color: #f8f9fa;
            padding: 20px;
            border-right: 2px solid #ddd;
        }
    
        #navbar-with-items .nav-link {
            font-weight: bold;
            color: #333;
            transition: 0.3s;
        }
    
        #navbar-with-items .nav-link:hover {
            background-color: #ddd;
            border-radius: 5px;
        }
    
        .content-main {
            margin-left: 270px; 
            padding-top: 20px;
        }
    </style>
    
    <!-- Menú de navegación -->
    <nav id="navbar-with-items" class="navbar navbar-light flex-column align-items-stretch">
        <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#item-1">Slogan</a>
            <a class="nav-link" href="#item-2">Nuestra Historia</a>
            <a class="nav-link" href="#item-3">Nuestro Equipo</a>
            <a class="nav-link" href="#item-4">Propuesta de Valor</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-4-1">Innovación para tu hogar geriátrico</a>
                <a class="nav-link ms-3 my-1" href="#item-4-2">¿Qué te ofrecemos?</a>
                <a class="nav-link ms-3 my-1" href="#item-4-3">Explora esta oportunidad</a>
            </nav>
            <a class="nav-link" href="#item-5">Hogares Geriátricos</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-5-1">¿Qué es un Hogar Geriátrico?</a>
                <a class="nav-link ms-3 my-1" href="#item-5-2">Beneficios</a>
                <a class="nav-link ms-3 my-1" href="#item-5-3">Cómo elegir el adecuado</a>
            </nav>
        </nav>
    </nav>
    
    <!-- Contenido Principal -->
    <div class="content-main">
        <h4 id="item-1">Slogan</h4>
        <p>Destaca la importancia del legado y el impacto positivo de tus seres queridos.</p>
        <br>
    
        <h4 id="item-2">Nuestra Historia</h4>
        <p>Fundado en 2024, G&V Amanecer Dorado se dedica a ofrecer hogares geriátricos de alta calidad para personas mayores, brindando un ambiente seguro y acogedor.</p>
        <br>
        <h4 id="item-3">Nuestro Equipo</h4>
        <p>Contamos con un equipo altamente capacitado en cuidados geriátricos y atención personalizada, comprometido en brindar el mejor bienestar a los adultos mayores y a sus familias.</p>
        <br>
        <h5 id="item-4">Propuesta de Valor</h5>
        <p>¡Oportunidad de Crecimiento y serenidad para tu Hogar Geriátrico con G&V Amanecer Dorado!

            Estimado/a usuario, espero que este mensaje te encuentre bien.
            
            En G&V Amanecer Dorado, estamos comprometidos en mejorar la calidad de vida de los adultos mayores ofreciendo un entorno seguro y acogedor desde el tesoro que resulta ser un amanecer. Nos gustaría extender una invitación a tu hogar geriátrico para explorar una emocionante oportunidad de colaboración que beneficie a una gran comunidad.</p>
            <br>
        <h5 id="item-4-1">¿Cómo podemos innovar a tu hogar geriátrico?</h5>
        <p>- Aumento de Ingresos: Al asociarte con nosotros, tendrás la oportunidad de atraer más residentes y, por lo tanto, incrementar tus ingresos. 🏠💰

            - Satisfacción de tus residentes: Conocerás el grado de satisfacción con el que se sienten en tu hogar para que busquemos la permanencia de la felicidad del adulto mayor.
            
            Visibilidad y Promoción: Te ofreceremos visibilidad a través de nuestras campañas de marketing y promoción, ayudando a que más familias conozcan tu hogar geriátrico. 📣
            
            Red de Contactos: Conectarás con una red amplia de profesionales y familias en busca de los mejores cuidados para sus seres queridos. 🌐</p>
            <br>
        <h5 id="item-4-2">¿Qué te ofrecemos?</h5>
        <p>- Campañas de Publicidad Conjunta: Juntos, podremos llevar a cabo campañas publicitarias que resalten los servicios y la calidad de tu hogar geriátrico. 📢

            - Colaboración en Eventos: Participa en eventos y actividades que organizamos para promover el bienestar de los adultos mayores. 🎉
            
            - Soporte Continuo: Nuestro equipo estará disponible para ofrecerte apoyo y asesoría en el proceso de integración de cada familia. 🤝</p>
            <br>
        <h5 id="item-4-3">¿Está interesado/a en explorar esta oportunidad de alianza?</h5>
        <p>Nos encantaría conocer cómo podemos trabajar juntos; por favor, permítenos saber si deseas continuar con el proceso y así poder agendar una reunión para conversar más a fondo sobre esta bonita colaboración.

            Quedamos a la espera de tu respuesta.</p>
            <br>
        <h4 id="item-5">Hogares Geriátricos</h4>
        <br><br>
        <h4 id="item-5-1">¿Qué es un Hogar Geriátrico?</h4>
        <p>Un hogar geriátrico es una institución especializada en el cuidado de personas mayores que necesitan asistencia y apoyo diario. Estos hogares ofrecen servicios de cuidado médico, actividades recreativas, y un ambiente seguro y cómodo para los residentes.</p>
        <br>
        <h4 id="item-5-2">Beneficios de los Hogares Geriátricos</h4>
        <p>Atención médica profesional.
            Actividades recreativas y sociales.
            Ambiente seguro y supervisado.
            Alimentación balanceada y adecuada.</p>
        <br>
        <h4 id="item-5-3">Cómo Elegir el Hogar Geriátrico Adecuado</h4>
        <p>Elegir el hogar geriátrico adecuado implica considerar varios factores importantes, como la ubicación, los servicios ofrecidos, el personal, y las opiniones de otros residentes y sus familias.</p>
    </div>
  
</body>
<footer style="top: 210%;  width:100%; position: absolute; background-color:  #b4b9c2 ; padding: 20px 0; text-align: center; font-family: Arial, sans-serif; font-size: 14px; color: #333;">
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap; max-width: 1200px; margin: 0 auto;">
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Contáctanos</h4>
          <p style="margin: 5px 0;">Teléfono: +57 322 747 8750</p>
          <p style="margin: 5px 0;">Correo: gvyamanecerdorado@outlook.com</p>
      </div>
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Redes Sociales</h4>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Instagram</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Facebook</a>
      </div>
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Horario de Atención</h4>
          <p style="margin: 5px 0;">Lunes a Viernes: 8:00 AM - 8:00 PM</p>
          <p style="margin: 5px 0;">Sábado y Domingo: 8:00 AM - 5:00 PM</p>
      </div>
      <div>
          <h4 style="font-weight: bold; margin-bottom: 10px;">Compañía</h4>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Nosotros</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Vincúlate a Nosotros</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Blog</a>
          <a href="#" style="text-decoration: none; color: #007bff; margin: 5px 0; display: block;">Términos y Condiciones</a>
      </div>
  </div>
</footer>

</html>
